/* RegistrationForm.css */

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #010d1a; /* Tmavé modré pozadí */
  color: white;
}

.registration-form {
  background-color: #011529; /* Tmavší modrá pro box */
  max-width: 500px;
  margin: 60px auto;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.registration-form h2 {
  text-align: center;
  font-size: 26px;
  margin-bottom: 10px;
  color: white;
  font-weight: bold;
}

.registration-form p {
  text-align: center;
  font-size: 16px;
  margin-bottom: 30px;
  color: #ddd;
  line-height: 1.4;
}

.registration-form input {
  display: block;
  width: 100%;
  padding: 12px 15px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: none;
  background-color: #042e5f; /* Tmavě modré pole */
  color: white;
  font-size: 16px;
}

.registration-form input::placeholder {
  color: #cbd6e2;
}

.registration-form button {
  width: 100%;
  padding: 12px;
  background-color: #2d9cdb; /* Světlejší modrá */
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.registration-form button:hover {
  background-color: #1b7cb8;
}

.footer {
  text-align: center;
  margin-top: 30px;
  font-size: 14px;
  color: #aaa;
}

.footer img {
  vertical-align: middle;
  height: 24px;
  margin-left: 5px;
}
